- content_for :sidebar do
  = render :partial => "sidebar/directory"

- cache do
  %div{ :style => "margin: 75px auto 20px auto; width: 260px;"}
    %span{ :style => "font-family: Andika, serif; font-size: 80px; font-style: normal; font-weight: 400; color: #333; text-shadow: 2px 2px 2px #999" }
      %span{ :style => "color: #38672F; padding: 0px; margin-right: -23px;" }D
      %span{ :style => "margin-bottom: 100px;"}
        GD
  %p
    The Dartmouth Group Directory (DGD) is an initiative by Student Assembly to create a centralized web service where everyone can search for and
    %b read and write about student groups at Dartmouth.
    Though it's still in its early stages,
    %span= @number_of_groups_with_pages
    groups already have pages on DGD. DGD is the DND for organizations, clubs, sports, fraternities, sororities,
    and any other official or non-official grouping of Dartmouth students.
  %h3 See for Yourself!
  <iframe width="640" height="360" src="http://www.youtube.com/embed/t77Byv5E8ew?rel=0" frameborder="0" allowfullscreen></iframe>
  %h3 Searching for Groups
  %p
    %b Type in the name of a group
    in the search box above. Either look in the autocomplete menu
    and click on the group you want to find, or simply type in a search phrase and we'll show you matching results.
  %h3 Editing Group Pages
  %p
    %b Everyone in the Dartmouth community can edit any group's page.
    Ever heard of Wikipedia? We think it's a pretty good site, too. DGD is a wiki, like Wikipedia.
    That is because we believe that opening editing to all members of the community will produce better results.
  %h3 Good Content
  %p
    %b Write good content.
    We want the site to be filled with useful, up-to-date information. If you see important
    information missing from a group's page, add it! If you see a blank page for a group you
    know about, create a page for it! If you see out-of-date information, update it!
    This site revolves around you, the contributor.
    If you make lots of great edits, you might make it to the
    = link_to "leaderboard!", leaderboard_group_index_path

  %h3 Bad Content
  %p
    You hate spam. So do we. Hence,
    %b your name is linked to any content you create.
    Look at any group's page, and you'll see at the bottom when it was last modified and who made the changes.
    If you see some spam, "Flag as Inappropriate" the page in question, and we will hear about it.
  %p
    %b We reserve the right to ban a user from editing pages,
    as well as lock a group's page from being edited.
    If you're banned, you can still view the site, you just can't edit it.

  %h3 Reporting Problems with DGD
  %p
    If something doesn't work right, you want to change your group's name/category/subcategory on DGD,
    or you want to request a feature,
    %b feel free to contact us!
    We'll fix it for you as soon as possible.
  %h3 Developers and Designers
  %p
    We are
    %b actively developing
    (multiple commits per day) the site you see here. If you are interested in
    developing the web application or designing the site's interface, we'd like to hear from you.
    This site is built with Ruby on Rails, LESS, HAML, and CoffeeScript. If you speak any of these languages,
    fork the the project <a href="https://github.com/jasonLaster/DGD">on Github</a> and make a pull request, and
    if we like what you've done, we'll be happy to merge it.
  %h3 Who We Are
  %p
    Dartmouth Group Directory is sponsored by Dartmouth Student Assembly. The DGD project was established and initiated by Alex Judson '14. The DGD online platform was created and designed by Jason Laster '11 and Matt McNierney '14. DGD is managed by Alex, Jason, and Matt. They are supported by developer Avery Yen '13 and project assistant/site contributor Diana Pechter '12.