.sidebar-info-box
  .sidebar-header
    %h3.title Group Page
  .sidebar-content
    %p Add Group description, exec list, meeting times, contact information, upcoming, events, have fun, this is your page. 
.sidebar-info-box
  .sidebar-header
    %h3.title Markdown
  .sidebar-content
    %p Markdown is a blogging format. add headers, text, links, images. link to great example
.sidebar-info-box
  .sidebar-header
    %h3.title Contributing Policy
  .sidebar-content
    %p Everyone should contribute, but nobody should be a dick. We have the ability to ban dicks on this site. 
