%h3
  = @group.to_s + " Page"

%div
  = form_tag(group_description_index_path, :method => "post")
  %textarea{rows: 10, cols: 75, name: "description"}
  %br
  %input{type:"submit", value:"Add Description"}
