= render :partial => "sidebar/section/admin_toc"
.sidebar-info-box
  .sidebar-header
    %h3.title Filter by Categories
  .sidebar-content
    %ul
      - Category.primary_categories.sort.each do |c|
        %li= link_to c, admin_description_index_path(:category => c)
      %li= link_to "All", admin_description_index_path