- if @current_user.try(:admin) || @group.exec?(@current_user)
  = render :partial => "sidebar/section/group_exec_toc"
.sidebar-info-box
  .sidebar-header
    %h3.title Checklist
  .sidebar-content
    = render :partial => "description/checklist_form"
.sidebar-info-box
  .sidebar-header
    %h3.title Contributing Policy
  .sidebar-content
    %p Everyone should contribute, but nobody should submit spam. DGD reserves the right to ban users who contribute counterproductive content.
