- if @current_user.try(:admin) || @group.users.include?(@current_user)
  = render :partial => "sidebar/section/group_exec_toc"
.sidebar-info-box
  .sidebar-header
    %h3.title Group Page
  .sidebar-content
    %p Add Group description, exec list, meeting times, contact information, upcoming, events, have fun, this is your page. 
.sidebar-info-box
  .sidebar-header
    %h3.title Markdown
  .sidebar-content
    %p Markdown is a popular markup syntax used by bloggers.
    = link_to "Markdown Quick Reference", markdown_path
.sidebar-info-box
  .sidebar-header
    %h3.title Contributing Policy
  .sidebar-content
    %p Everyone should contribute, but nobody should submit spam. DGD reserves the right to ban users who contribute counterproductive content.
