%tr
  %td= flag[0]
  %td.page{:style => "position:relative", "rel" => "popover", "data-content" => Description.markdown(flag[1]), "data-original-title" => flag[0]}
    = truncate(flag[1], :length => 60)
    
  %td= flag[2]