- content_for :sidebar do
  = render :partial => "sidebar/admin"


#group
  .title
    %h1 Flags

.flag-table
  %table#admin-table.table.table-striped
    %thead
      %tr
        %th.yellow{:width => "100px"} Group
        %th.purple Page
        %th.green Authors
    = render :partial => "flag", :collection => @flags