%h2 404
%div
  %h3 We're sorry
  %p
    The content that you requested could not be found.
  %p
    You tried to access '#{@not_found_path}', which is not a valid page.
  %p
    Want to
    %a{href: root_path} go back to our home page
    and try again?