- cache do
  #group
    .title
      %h1 404
  %img.pull-right{src: "http://robohash.org/cute?size=200x200"}
  %div
    %h3 We're sorry.
    %p
      You tried to access a page that doesn't exist.
    %p
      Want to
      %a{href: root_path} go back to our home page
      and try again?