- content_for :sidebar do
  = render :partial => "admin/shared/sidebar"


#user-admin
  #group
    .title
      %h1= "Categories"
  
  .categories-table
    %table#admin-table.zebra-striped
      %tr
        %th.yellow{:width => "50"} Delete
        %th.blue Category
      = render :partial => "category", :collection => @categories
