- content_for :sidebar do
  = render :partial => "sidebar/admin_category"


#category-admin
  #group
    .title
      %h1 Primary Categories

  - @categories.each do |category, list|
    %h4= category
    %blockquote
      - list.each do |s|
        %p= s

