- content_for :sidebar do
  = render :partial => "sidebar/group_exec"

#group
  .title
    %h1 Edit Group

.row
  .span9
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label Name
          .controls
            %input.input-xlarge{:type =>"text", :placeholder => @group.name}
        .control-group
          %label.control-label Category
          .controls
            %input.input-xlarge{:type =>"text", :placeholder => @group.category.try(:category)}
      
