- content_for :sidebar do
  = render :partial => "sidebar/group_exec"

#group
  .title
    %h1 Edit Group

%section
  .page-header
    %h2 Group Information
  .row
    %form
      %fieldset
        .clearfix
          %label Group Name
          .input
            %span.uneditable-input= @group.name
        .clearfix
          %label Group Category
          .input
            %span.uneditable-input= @group.category.try(:category)
        .clearfix
          %label Group Slug
          .input
            %span.uneditable-input= @group.id
        .clearfix
          %label Lock Group Page
          .input{:style => "padding-top:6px"}
            %input{:type => "checkbox"}
            %span Only Group Execs and Site Admins can contribute to page

%section
  .page-header
    %h2 Group Executives
    %small Group Execs have permission to see all exec pages and make changes
