= content_for :sidebar do
  .description
    %p <strong>Lorem ipsum dolor sit</strong> amet, consectetur adipisicing elit, sed do eiusmod.
    %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


#directory
  %div
    - @categories.each do |c|
      .category 
        %div
          = link_to c.category, "#"
        %ul{:class => "groups #{"columns" if c.two_cols}"}
          - c.groups.each do |g|
            %li.group 
              - g_name = c.two_cols ? g.name.sub(/Dartmouth /,"").truncate(18) : g.name.truncate(45)
              = link_to g_name, group_path(g)
        
