#directory
  %div
    - @categories.each do |c|
      .category 
        %div
          = link_to c.category, "#"
        - cols = [1052035169, 1052035183, 1052035182, 1052035181].any? {|id| id == c.id} ?  "columns" : ""
        - h = 1052035169 == c.id ? "tall" : "short"
        %ul{:class => "groups #{cols} #{h}"}
          - c.groups.each do |g|
            %li.group 
              - g_name = cols == "columns" ? g.name.sub(/Dartmouth /,"").truncate(20) : g.name
              = link_to g_name, group_path(g)
        
