= content_for :sidebar do
  %ul.sections
    %li COSO
    %ul.categories
      %li COSO
    %li SPORTS
    %ul.categories
      %li Mens Varsity Sports
      %li Womens Varsity Sports
      %li Intramural Sports
    %li Greek Life
    %ul.categories
      %li Fraternities
      %li Sororities
      %li CO-EDs
    %li Centers
    %ul.categories
      %li Rockerfeller Center
      %li Dickey Center
      %li Governing Organizations
    %li Tucker
    %ul.categories
      %li Tucker - Faith Programs
      %li Tucker - Religious Groups
      %li Tucker - International Service
      %li Tucker - Local Service   
    
#directory
  - @categories_hash.each_pair do |id, category|
    %h4.category_header{ :id => category.category.gsub(" ","").gsub(/[^[:alnum:]]/, '')  }= category.category
    %ul.groups_list{ :id => category.category.gsub(" ","").gsub(/[^[:alnum:]]/, '')  }
      - category.groups.each do |group|
        %li
          = link_to group.name.sub(/Dartmouth /,"").truncate(40), group_path(group)