#leaderboard
  #group
    .title
      %h1= "Leaderboard"
  %p
    The leaderboard tracks how many contributions (edits) each user has made to the site.

  .leaderboard-table
    %table#admin-table.table.table-striped
      %thead
        %tr
          %th.yellow Contributer
          %th.green{:width => "150px"} Count
      - @leaderboard.each do |name, contributions|
        %tr
          %td= name
          %td= contributions
