- content_for :sidebar do
  = render :partial => "sidebar/directory"

%h1 Markdown

%h3 What is Markdown?
%p
  Markdown is a popular syntax used by bloggers to easily give plain text some simple formatting. A complete
  reference is <a href="http://daringfireball.net/projects/markdown/syntax">here</a>, but below is a good primer
  to get you started. All group pages on DGD are formatted using Markdown, so if you want to edit a page, you
  need to understand the basics. Log in to DGD and try to edit a page and you'll see some good examples of
  Markdown in action. Here's a reference table to get you started.

%table.zebra-striped
  %tr
    %th What You Want
    %th How You Get It
  %tr
    %td
      %p Paragraphs
    %td Paragraphs
  %tr
    %td
      %h1 Big Section Headings
    %td #Big Section Headings
  %tr
    %td
      %h2 Slightly smaller section headings
    %td ##Slightly smaller section headings
  %tr
    %td
      %h3 Even smaller
    %td ###Even Smaller
  %tr
    %td
      %a{ :href => "#"} Links
    %td
      [Links](http://www.example.com/)
  %tr
    %td
      %ul
        %li Lists
        %li Of
        %li Things
    %td
      * Lists<br>
      * Of<br>
      * Things<br>
  %tr
    %td
      %img{ :src => "http://www.cs.dartmouth.edu/~thc/images/Dtree.gif", :alt => "The Lone Pine" }
    %td
      ![The Lone Pine](http://www.cs.dartmouth.edu/~thc/images/Dtree.gif)