/* Autocomplete styles */
ul.ui-autocomplete.ui-menu {
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.4em;
  width: 195px;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #CCC;
  border-top: 0px;
  margin-top: -5px;
  padding-top: 0px;
}

ul.ui-autocomplete.ui-menu li {
  list-style: none;
  cursor: pointer;
}

ul.ui-autocomplete.ui-menu li a {
  display: block;
  padding: 3px;
  color: black;
}

ul.ui-autocomplete.ui-menu li a:hover {
  text-decoration: none;
}

ul.ui-autocomplete.ui-menu li.ui-state-hover {
  background: rgba(0, 0, 0, 0.20);
}

ul.ui-autocomplete.ui-menu li:hover {
  background: rgba(0, 0, 0, 0.20);
}  

/* Header styles */
.topbar-wrapper {
  margin-bottom: 75px;
}

/* Groups Index Styles */
#directory h4.category_header {
  cursor: pointer;
}
#directory h4.category_header:after {
  content: ' +';
}
.groups_container {
  display: none;
}
.groups_container li {
  list-style-type: none;
}

/* Flags Page Styles */
table.flags {
  width: 500px;
}