/* Autocomplete styles */
ul.ui-autocomplete.ui-menu {
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.4em;
  width: 195px;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #CCC;
  border-top: 0px;
  margin-top: -5px;
  padding-top: 0px;
}

ul.ui-autocomplete.ui-menu li {
  list-style: none;
  cursor: pointer;
}

ul.ui-autocomplete.ui-menu li a {
  display: block;
  padding: 3px;
  color: black;
}

ul.ui-autocomplete.ui-menu li a:hover {
  text-decoration: none;
}

ul.ui-autocomplete.ui-menu li.ui-state-hover {
  background: rgba(0, 0, 0, 0.20);
}

ul.ui-autocomplete.ui-menu li:hover {
  background: rgba(0, 0, 0, 0.20);
}  

/* Container */
body > .container {min-height:650px;}

/* Header styles */
.topbar-wrapper {
  margin-bottom: 75px;
}

/* Sidebar Styles */
.sidebar-info-box {
  width: 200px;
  border: 1px solid #BBB;
  margin-bottom: 10px;
}
.sidebar-header {
  padding: 1px;
  border-bottom: 1px solid #EEE;
  background-color: #F5F5F5;
}
.sidebar-header h3 {
  text-align: center;
  padding: 10px;
  line-height: 15px;
}
.sidebar-header h3.admin {
 color: #EB642F;
}
.sidebar-content {
  border-top: none;
  padding: 10px;
  color: #4c4c4c;
}
.sidebar-content a {
  display: block;
}


/* Groups Index Styles */
#directory .category_stripe {
  border-top: 1px solid #CCC;
  border-bottom: none;
  background-color: #F5F5F5;
  display: block;
}
#directory .category_nostripe {
  border-top: 1px solid #CCC;
  border-bottom: none;
  display: block;
}
#directory h4.category_header {
  cursor: pointer;
  margin-left: 20px;
}

#directory h5.category_sub_header {
	margin-left: 20px;
}

#directory .groups_container {
  display: none;
}
#directory .groups_container li {
  list-style-type: none;
}
#directory .expand {
  margin-bottom: 75px;
}

/* Groups Show Styles */
#group .title {
  text-align: center;
  border-bottom: 3px solid #CCC;
  margin-bottom: 30px;
}
#group .title h1 {
  font-size: 75px;
  line-height: 60px;
  margin-top: -20px;
}
#description .action_links {
  margin-top: 50px;
  border: 1px solid #CCC;
  background-color: #F5F5F5;
  display: block;
  text-align: center;
  padding: 15px;
}
#description .action_links a {
  margin: 20px;
}

/* Global Footer */
#footer {
  height: 150px;
  border-top: 1px solid #bbb;
  background-color:whiteSmoke;
  margin-top:36px;
}

/* Flags Page Styles */
table.flags {
  width: 500px;
}

/* Admin Section */

.actions.form {padding-left:20px}
table#admin-table td.page {cursor:pointer}
table#admin-table .popover.below {top:45px; left:-240px; width:660px;}
table#admin-table .popover.below .inner {width:680px}
.flag-table table#admin-table .popover.below {left:-120px;}
.group-flag-table table#admin-table .popover.below {left:0px;}

/* Splash Page Styles */
#splash .splash-container {
  border: 1px solid #CCC;
  background-color: #F5F5F5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 200px;
  width: 350px;
  padding: 50px;
}
#splash .splash-container .search {
  margin-left: auto;
  margin-right: auto;
  width: 217px;
}
#splash .splash-container .links {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

/* Page History Styles */
#history .page.stripe {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #F5F5F5;
  display: block;
  padding-left: 20px;
}
#history .page.nostripe {
  display: block;
  padding-left: 20px;
}
#history .page .body {
  display: none;
}
#history .page .header {
  cursor: pointer;
}