@mixin columns($count){
	-moz-column-count: $count;
	-webkit-column-count: $count;
}

@mixin column-gap($gap){
	-moz-column-gap: $gap;
	-webkit-column-gap: $gap;	
}


#directory {
	
	width:800px; height:2600px;
	.header {
	  background-color:#ddd; margin-top:20px;
	  line-height:30px; height:30px; color:#444; font-size:18px;
	  border-top:1px solid #ccc;
	  }
	
	.category {
		float:left; width:100%; 
		div {
			a {color:blue; text-decoration:underline; font-weight:bold; font-size:16px; line-height:24px;}	
			background-color:#ececec; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:4px 0px;
		}
		ul.groups {
			margin-top:10px;
			li.group {
				a {color:blue; text-decoration:underline; font-weight:normal; font-size:12px; line-height:15px;}
			}
			&.columns {
				@include columns(5); 
				@include column-gap(10px);
				
			}
		}
	}

}


#group {
	h2 {font-size:20px; font-weight:bold;}
	#description {
		margin-top:20px;
		.body {
			width:650px; height:300px; padding:15px;
			border:1px solid #999;
		}
		.info {
			margin-top:20px;
			font-size:14px;
		}
	}
}

.blogPost div {
}
