h1 {color:blue;}
body {}
.clear {clear:both;}
p,h2,h3,h4,h5 {margin:10px 0;}

#header {
	background-color:#567056;
	.content {
		width:1024px; height:35px; margin:0px auto; padding-top:18px;
		input {
			height:30px; width:365px; border:0px;
			font-size:14px; line-height:20px;
			&:focus {outline: 0px solid transparent;}
		}
	}
}

#body {
	.content {
		width:1024px; margin:20px auto;
		#left_sidebar {
			float:left; width:200px; height:600px;
			background-color:#efefef; border:1px solid #ccc;
		}
		#main_content {
			float:left; margin-left:20px; width:820;
		}
	}
}