h1 {color:blue;}
body {}
.clear {clear:both;}
p,h2,h3,h4,h5 {margin:10px 0;}
strong {font-weight:bold;}

#header {
	background-color:#375482;
	.content {
		width:1024px; height:35px; margin:0px auto; padding-top:18px;
		input {
			float:left; height:30px; width:365px; margin-left:220px; border:0px;
			font-size:14px; line-height:20px;
			&:focus {outline: 0px solid transparent;}
		}
		h1 {
		  float:left; margin-left:20px;
		  line-height:30px; font-size:16px; font-family:'helvetica';
		  color:white;
		}
		#user_nav {
		  float:right;
		  a {color:white; font-family:'helvetica'; font-size:13px; line-height:30px;}
		}
	}
}

#body {
	.content {
		width:1024px; margin:20px auto;
		#left_sidebar {
			float:left; width:180px; height:600px; padding:20px 10px;
			background-color:#efefef; border:1px solid #ccc;
			
			.description {
			  p {font-size:13px;}
			}
			
			.links {
			  margin-top:30px;
			  h4 {
			    line-height:15px; font-size:14px; margin:0px;
			    font-weight:bold;
			  }
			  ul {
			    li {
			      line-height:15px; font-size:12px;
			      a {}
			    }
			  }
			}
		}
		#main_content {
			float:left; margin-left:20px; width:800px;
		}
	}
}