- content_for :sidebar do
  = render :partial => "admin/shared/sidebar"

#group-admin
  #group
    .title
      %h1 Groups

  .groups-table
    %table#admin-table.zebra-striped
      %tr
        %th.yellow{:width => "50px"} Locked
        %th.purple Group
        %th.green Category
        %th.blue Pages
      = render :partial => "group", :collection => @groups
