.sidebar-info-box
  .sidebar-header
    %h3.title Admin Section
  .sidebar-content
    = link_to "Categories", admin_category_index_path
    = link_to "Groups", admin_group_index_path
    = link_to "Pages", admin_description_index_path
    = link_to "Users", admin_user_index_path
