%tr
  %td.page{:style => "position:relative"}
    = truncate(flag[1], :length => 60)
    .popover.below
      .arrow
      .inner
        %h3.title= flag[0]
        .content= Description.markdown flag[1]

  %td= flag[2]