- content_for :sidebar do
  = render :partial => "sidebar/group_exec"


#group
  .title
    %h1 Flags

.group-flag-table
  %table#admin-table.zebra-striped
    %tr
      %th.purple Page
      %th.blue{:width => "70px"} Count
    = render :partial => "flag", :collection => @flags
