- content_for :sidebar do
  = render :partial => "sidebar/admin"


#group
  .title
    %h1 Flags

%table.flags
  %tr
    %th Page
    %th Count

  - @flags.each_pair do |description_id, count|
    - group = Group.find_by_description_id(description_id) if description_id
    %tr
      %td
        =link_to group.name, group_path(group) if group
      %td= count